<% include ./partials/header%>

<div class="ui main text container">
     <div class="ui huge header"><i class="wrench icon"></i></div>
<div class="ui main attached text inverted segment">
    <div class="ui huge header">Edit: <%=blog.title%></div>
    <form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="POST">
        <div class="field">
            <label>Title</label>
        <input type="text" name="blog[title]" value="<%=blog.title%>" placeholder="title" required>
        </div>
        <div class="field">
            <label>Image <i class="camera retro icon"></i></label>
        <input type="text" name="blog[image]" value="<%=blog.image%>" placeholder="image" required>
        </div>
        
        <div class="field">
            <label>Blog Content</label>
        <textarea name="blog[body]" required><%=blog.body%></textarea>
        </div>
        <input class="ui inverted pink button" type="Submit">
    </form>
</div>
</div>

<% include ./partials/footer%>
